/vignettes/vignette.R

# History files
.Rhistory
.Rapp
*.history

# Example code in package build process
*-Ex.R

# RStudio files
*.RData
!/data/*.RData
.Rproj.user/
.Rproj
.Rproj.user
*.Rdata
*.Rproj

# Output files
*.pdf
*.tar.gz
*.tex
*.mat
*.zip
*.png

*.log

*.out

*.toc

full_run_real_data/agony

*.txt

*.svg
